{
    "files.associations": {
        "*.component.js": "html",
        "*.page.js": "html",
        "*.component.css": "html",
        "*.page.css": "html",
        "*.app.js": "javascript",
        "*.bridge.js": "javascript",
        "*.guard.js": "javascript"
    },
    "html.customData": [
        "./avenx.html-data.json"
    ],
    "javascript.validate.enable": true,
    "html.format.templating": true
}
